*{
margin: 0;
padding: 0;
}

.cabeçalho{
background-color: rgb(177, 5, 5);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;



}

.cabeçalho-div{
display: flex;

}